<div class="modal" ng-controller="FlowableConditionExpressionPopupCtrl">
<div class="modal-dialog modal-wide">
<div class="modal-content">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
    <h2 translate>PROPERTY.SEQUENCEFLOW.CONDITION.TITLE</h2>
</div>
<div class="modal-body">

    <!-- <div class="detail-group clearfix"> -->
        <div class="row row-no-gutter">
            <div class="col-xs-6">
                <div ng-if="translationsRetrieved" class="kis-listener-grid" ui-grid="gridOptions" ui-grid-selection></div>
            </div>
            <div class="col-xs-6">
                <div>
                    <div style="display:inline-block;">
                        <label>{{'PROPERTY.SEQUENCEFLOW.CONDITION.STATIC' | translate}}</label>
                    </div>
                    <div style="float: right;">
                        <div style="width:80px;height:29px;line-height:29px;text-align:center;border:1px solid rgba(121, 121, 121, 1);border-radius:5px; cursor: pointer;margin-bottom: 5px;" ng-click="clear()">清空</div>
                    </div>
                </div>
                
                <textarea class="form-control" ng-model="expression.natureValue" style="min-height: 172px;resize:none" />
            </div>
        </div>
        <div class="row row-no-gutter">
            <div class="col-xs-6">
                <div class="operationDiv" ng-repeat="operation in operations" ng-mouseenter="hover(operation)" ng-mouseleave="leave()">
                    <span class="operationSpan" >{{operation.title}}</span>
                    <div class="operationModel" ng-if="selectdItem === operation.title">
                        <div class="operationDes">{{operation.des}}</div>
                        <div class="operationExa">{{operation.exa}}</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div>示例：${部门} == "研发部" && (${事假天数} + ${调休天数}) > 3</div>
                <div>说明：部门等于研发部并且事假天数加调休天数大于3</div>
                <div>备注：${}内为属性名称，不能为属性id</div>
                <div style="text-decoration:underline;color:#0000FF;text-align: right; cursor: pointer" ng-click="showMore()">查看更多</div>
            </div>
        </div>
        <!-- </div> -->
    <div class="modal-footer">
        <button ng-click="check(gridOptions)" class="btn btn-primary" translate>ACTION.CHECK</button>
        <button ng-click="close()" class="btn btn-primary" translate>ACTION.CANCEL</button>
        <button ng-click="save(gridOptions)" class="btn btn-primary" translate>ACTION.SAVE</button>
    </div>
</div>
</div>
<div class="modal-dialog modal-wide" style="z-index:99;position: absolute;top: 0;" ng-if="info">
    <div class="modal-content">
        <!-- <div class="modal-header">
            
        </div> -->
        <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeInfo()">&times;</button>
            <div style="height:600px;overflow-y:scroll;">
                <p>使用说明:</p>
                <p>1、分之条件使用基于UEL的语法规则的表达式实现分支的选择，表达式计算结果为真时选择分支，为假时不选择。</p>
                <p>2、表达式可以用键盘直接输入和删除。</p>
                <p>3、运算符要使用英文符号，不能使用中文符号。</p>
                <p>4、字段必须是包含在表单内组件，字段前加“$”号用{}包裹。比较的值的类型必须与字段类型匹配。</p>
                <p>5、用括号体现运算优先级，并支持嵌套括号。</p>
                <p>6、比较值是字符串类型（包括日期和时间类型）的数据加双引号，数值类型不用加</p>
                <p>7、优先级：括号>四则预算>关系运算>逻辑运算。</p>
                <p>8、四则运算只支持数值类型的计算，并且必须加括号</p>
                <p>9、取反必须加括号。</p>
                <p>10、表达式要符合语法规则，否则无法保存，也不能计算出结果</p>
                <p>运算符说明：</p>
                <p>一、关系运算符</p>
                <p>1、>：大于。示例：${请假天数} > 3。</p>
                <p>2、>=：大于等于。示例：${请假天数} >= 3。</p>
                <p>3、==：等于。示例：${部门} == "研发部"。</p>
                <p>4、<=：小于等于。示例：${报销金额} <=100。</p>
                <p>5、<：小于。示例：${报销金额} < 100。</p>
                <p>6、!=：不等于。示例：${部门} != "研发部"。</p>
                <p>二、四则运算符</p>
                <p>1、+：加。示例：(${事假天数} + ${调休天数}) > 3。</p>
                <p>2、-：减（或负号）。示例：(${加班天数} - ${调休天数}) > 1。</p>
                <p>3、*：乘。示例：(${单价} * ${数量}) > 100。</p>
                <p>4、/：除。示例：(${金额} / ${数量}) < 10。</p>
                <p>三、逻辑运算符</p>
                <p>1、&&：并且。示例：${部门} == "研发部" && ${请假天数} > 3。</p>
                <p>2、||：或者。示例：${部门} == "研发部" || ${请假天数} > 3。</p>
                <p>3、!：取反。示例：!(${部门} == "研发部" )。</p>
                <p>4、( )：括号。示例：(${事假天数} + ${调休天数}) > 3。</p>
            </div>
        </div>
</div>
</div>
</div>
